.App {
  text-align: center;
  border-radius: 15px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid  #282c34 15px;
  border-radius: 15px;
}

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  background-color: gray;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  display: grid;
  background-color: rgb(34, 165, 1);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em;
  padding: 10px;
  border-radius: 15px;
}

label {
  font-size: 15px
}

.btn {
  font-size:15px;
  font-family:Arial;
  width:100px;
  height:25px;
  border-width:1px;
  color:#fff;
  border-color:#18ab29;
  font-weight:bold;
  border-top-left-radius:28px;
  border-top-right-radius:28px;
  border-bottom-left-radius:28px;
  border-bottom-right-radius:28px;
  text-shadow: 1px 1px 0px #2f6627;
  background:#44c767;
}

.btn:hover {
  background: #5cbf2a
}

.spotify-searchbar h5 {
  color: white;
}
.card{
  position: relative;
}

.card img{
  width: 100%;
  display: block;

}
.card .front {
  transform: rotateY(90deg);
  width: 40%;
  position: absolute;
}
.card .back {
  transition-delay: 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
}

.play-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
